* {
    box-sizing: border-box;
    margin: 0;
}

.navbar {
    background-color: #738963;
}
.Page-Title {
    text-align: center;
}

.Nav-Logo {
    color: white;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.Nav__Item a {
    color: white;
}
ul.Nav__Items {
    display: flex;
}

.Nav__Container {
    display: flex;
    height: 100px;
    justify-content: space-between;
}